
<!DOCTYPE HTML>
<!--
	Astral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Astral by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../css/main.css" />
		<noscript><link rel="stylesheet" href="../../css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="/#" class="icon solid fa-home"><span>Home</span></a>
						<a href="/#work" class="icon solid fa-folder"><span>Work</span></a>
						<a href="/#contact" class="icon solid fa-envelope"><span>Contact</span></a>
						<a href="/#" class="icon brands fa-github"><span>Github</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
                                    <h6 style="color: blueviolet;">Your profile has been updated!</h2>
                                    <br><br>
									<h1><%- profile.name %></h1>
									<p><%- profile.headline %></p>
								</header>
								<a href="/#work" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"></span>
									<img src="../../images/me.jpg" alt="" />
								</a>
							</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="../../js/jquery.min.js"></script>
			<script src="../../js/browser.min.js"></script>
			<script src="../../js/breakpoints.min.js"></script>
			<script src="../../js/util.js"></script>
			<script src="../../js/main.js"></script>

	</body>
</html>